@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&family=Fira+Sans:ital,wght@0,400;0,700;1,400&display=swap');


html {
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    box-sizing: border-box;
  }

body {
    color: black;
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    padding: 0 10px;
    opacity: 0.7;
  }
  
a:hover {
    opacity: 1;
}

header {
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  
header div{
    margin-left: 20px;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header div p{
    margin-left: 10px;
}

header a{
    font-weight: 600;
    color: black;
}

p a{
    color: black;
    font-weight: 600;
}

li{
    margin-right: 10px;
}

ul {
    list-style: none;
    display: flex;
}


.main-info{
    margin:auto;
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.name-about{
    flex-basis: 40%;
    margin: 20px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.picture{
    flex-basis: 45%;
}

.picture img{
    width: 100%;
}

.text{
    font-size: 1.25rem;
    font-weight: 100;
    width: fit-content;
    flex-basis: 50%;
}

.container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    border: 1px solid black;
    padding: 8px;
    margin-bottom: 64px;
}

hr{
    line-height: 5px;
    width: 95%;
    margin: auto;
    margin-top: 36px;
    margin-bottom: 36px;
}

.caption{
    margin-top: 32px;
    font-size: 2rem;
    margin-bottom: 0;
    font-weight: 700;
}

.benefits{
    font-size: 2rem;
}

#main-about{
    font-size: 3.5rem;
    font-weight: 700;
    width: fit-content;
    margin: 0;
}

.list {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    font-size: 1.25rem;
}

.soft-skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    align-self: center;
}

.soft-skills li{
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    padding: 5px;
    margin: 8px;
    border-radius: 10px 0px;
}

.soft-skills li p{
    font-family: 'Luxurious Roman', cursive;
}

.soft-skills li hr{
    margin: 0;
    margin-bottom: 8px;
}

.soft-skills li img{
    align-self: center;
    width: 100%;
    border-radius: 5px;
}

#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

#contact a{
    font-size: 3rem;
    color: black;
    font-weight: 700;
}

footer {
    display: flex;
    background-color: white;
    width: 100%;
    padding: 30px;
    align-items: center;
  }
  
  footer ul {
    display: flex;
    margin: auto;
  }
  
  footer li a {
    color: black;
    font-size: 2rem;
  }
  
  footer ul li {
    display: flex;
  }