@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&family=Fira+Sans:ital,wght@0,400;0,700;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    color: white;
    background-image: url(materials/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    background-attachment: scroll; 
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
     
}
.title {
    color: white;
    background: linear-gradient(to bottom right, #0000cc 0%, #058d17 100%);
    width: max-content;
    padding: 5px;
    border-radius: 10px;
    margin: 10px auto;
}
.pictures{
    width: 300px;
    height: 400px;    
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40%;
}
.text{
    color: white;
    margin: 10px auto;
    background: linear-gradient(to bottom right, #009933 0%, #6600cc 100%);
    padding: 20px;
    width: 800px;
    text-align: center;
    border-radius: 40px;
}
.caption{
    margin: 10px 29%;
    background: linear-gradient(to bottom left, #00cc99 13%, #6600cc 86%);
    padding: 5px;
    width: max-content;
    text-align: center;
    border-radius: 10px;

}
.list-style {
    display: inline-block;
    background-color: rgb(54, 58, 58);
    width: 150px;
    margin: 10px 29%;
    color: rgb(255, 0, 0);
    border-radius: 5px;
    text-align: center;
}
.button-linkedin{
    text-decoration: none;
    line-height: 20px;
    background: linear-gradient(to bottom right, #000099 32%, #3366ff 94%);
    margin: 30px auto;
    padding: 5px;
    border-radius: 4px;
    display: block;
    width: 125px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.button-linkedin:hover{
    background: linear-gradient(to bottom right, #000099 56%, #3366ff 110%);
    transition: 1s;
}
.button-github{
    text-decoration: none;
    line-height: 20px;
    background: linear-gradient(to bottom right, #666699 32%, #999966 94%);
    margin: 30px auto;
    padding: 5px;
    border-radius: 4px;
    display: block;
    width: 125px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 700;
    transition: 2s;
}
.button-github:hover{
    background: linear-gradient(to bottom right, #666699 56%, #999966 110%);
}